/* Button */
.btn{
  font-size: 13px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  height: 26px;
  border: 1px solid #ddd;
  cursor:pointer;
  div{

    margin-top: -3px;
    font-weight: 100;
    color: #555;

  }
}
.btn {
  &:active,
  &:focus {
    background:$color-primary;
  }

}
.btn-primary,
.btn-dark {
  border: 1px solid #ddd;
  div{
    color:#fff;
  }
}

.btn-white.btn-primary {
  background: #fff;
  color: $color-secondary;
}

.btn-primary {
  background:$color-secondary;
}

.btn-dark {
  background: #23282d;
}
.btn-white:hover{
  background:$color-primary;
  div{
    color:#fff;
  }
}
.btn-primary:hover,
.btn-dark:hover,

.btn-white.btn-primary:hover {
  background: $color-primary;
  color: #fff;
  &:active,
  &:focus {
      color: #fff;
      background-color: $color-primary !important;
  }
}

.general-btn {
  margin-top: 50px;
}
.btn-block{
  height: auto;
    font-size: 1rem;
    border-radius: 15pc;
    font-weight: 100;
}