$font-primary: 'Kanit','Open Sans', sans-serif;
$font-secondary: 'Kanit','Montserrat', sans-serif;

$color-primary:#0E519B;
$color-secondary:#527CAE;
:root {
    --swiper-pagination-bottom: 0px; /* Defines the bottom offset for all swiper paginations */
  
}