  <div class="footer-container">
    <footer id="footer" class="footer">
      <div class="footer-main">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-3 col-md-6 mt-md-5 mt-lg-0 footer-widget">
              <h3 class="widget-title">บริการทางการแพทย์</h3>
              <ul class="list-bullet">
                <li>สิทธิประโยชน์ผู้ถือบัตรประกันสุขภาพ</li>
                <li>โครงการร่วมสิทธิ์เบิกจ่ายตรง</li>
                <li>นวัตกรรมการรักษา</li>
                <li>ตรวจสุขภาพ</li>
                <li>บริการฉีดวัคซีน</li>

                <li class="footer-lab-mobile">ห้องตรวจแลป</li>
                <li class="footer-lab-mobile">ศูนย์ตรวจทางรังสี CT Scan, MRI</li>
                <li class="footer-lab-mobile">ห้องพัก, สิ่งอำนวยความสะดวก</li>
                <li class="footer-lab-mobile">ส่งยาถึงบ้าน</li>
                <li class="footer-lab-mobile">รับส่ง - ขนย้ายผู้ป่วยด้วยรถพยาบาล</li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 mt-md-5 mt-lg-0 footer-widget footer-lab">
              <h3 class="widget-title">&nbsp;</h3>
              <ul class="list-bullet">
                <li>ห้องตรวจแลป</li>
                <li>ศูนย์ตรวจทางรังสี CT Scan, MRI</li>
                <li>ห้องพัก, สิ่งอำนวยความสะดวก</li>
                <li>ส่งยาถึงบ้าน</li>
                <li>รับส่ง - ขนย้ายผู้ป่วยด้วยรถพยาบาล</li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 mt-md-5 mt-lg-0 footer-widget">
              <h3 class="widget-title">ติดต่อเรา</h3>
              <div class="d-flex flex-row footer-address">
                <div class="pr-2"> <img  width="15px"  src="images/icon-image/location-pointer.png"></div><div>
                  <address>
                    <b>โรงพยาบาลทักษิณ</b><br>
                    (บริษัท สุราษฎร์เวชกิจ จำกัด)<br>
                    309/2 ถนนตลาดใหม่ ตำบลตลาด<br>
                    อำเภอเมือง จังหวัดสุราษฎร์ธานี 84000<br>
                  </address>

                </div>
              </div>
              <div class="d-flex flex-row">
                <div class="pr-2"> <img  width="18px"  src="images/icon-image/call.png"></div><div>
                  <address> โทรศัพท์ : 077-278-777 </address>

                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
              <h3 class="widget-title">&nbsp;</h3>
              <div class="d-flex flex-row">
                <div class="pr-2"> <img  width="18px"  src="images/icon-image/printer.png"></div><div>  <label> แฟกซ์ : 077-278-751 </label> </div>
              </div>
              <div class="d-flex flex-row">
                <div class="pr-2"> <img  width="18px"  src="images/icon-image/email.png"></div><div>  <label> อีเมล์ : info@thaksinhospital.com </label> </div>
              </div>
              <div class="d-flex flex-row">
                <div class="pr-2"> <img  width="18px"  src="images/icon-image/facebook.png"></div><div>  <label> เฟสบุ๊ค : โรงพยาบาลทักษิณ </label> </div>
              </div>
              <div class="d-flex flex-row">
                <div class="pr-2"> <img  width="18px"  src="images/icon-image/line.png"></div><div>  <label> ไลน์ : @thaksinhospital </label> </div>
              </div>
            </div>



          </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Footer main end -->

      <div class="copyright">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="copyright-info text-center">
                <span>Copyright &copy; <script>
                    document.write(new Date().getFullYear())
                  </script>&nbsp; Thaksin HospitaL All Rights Reserved.&nbsp;|&nbsp; นโยบายการคุ้มครองข้อมูลส่วนบุคคล &nbsp;|&nbsp; นโยบายคุกกี้ </span>
              </div>
            </div>


          </div><!-- Row end -->

          <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
            <button class="btn btn-primary" title="Back to Top">
              <i class="fa fa-angle-double-up"></i>
            </button>
          </div>

        </div><!-- Container end -->
      </div><!-- Copyright end -->
    </footer><!-- Footer end -->
  </div>



  <!-- Javascript Files
  ================================================== -->

  <!-- initialize jQuery Library -->
  <script src="plugins/jQuery/jquery.min.js"></script>
  <!-- Bootstrap jQuery -->
  <script src="plugins/bootstrap/bootstrap.min.js" defer></script>
  <!-- Slick Carousel -->
  <script src="plugins/slick/slick.min.js"></script>
  <script src="plugins/slick/slick-animation.min.js"></script>
  <!-- Color box -->
  <script src="plugins/colorbox/jquery.colorbox.js"></script>
  <!-- shuffle -->
  <script src="plugins/shuffle/shuffle.min.js" defer></script>


  <!-- Google Map API Key-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
  <!-- Google Map Plugin-->
  <script src="plugins/google-map/map.js" defer></script>

  <!-- Template custom -->
  <!-- <script src="js/script.js"></script> -->
  <!-- Swipper -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script src="js/index.js"></script>
  </div><!-- Body inner end -->
  </body>

  </html>
