<div class="article-item">
    <h4 class="text-muted">@@date</h4>
    <div class="card">
        <div class="card-body" style="cursor: pointer;">
            <h3 class="card-title">@@title</h3>
           <div class="row">
                <div class="col-12 col-md-6">
                    <img src="@@img" class="img-fluid">
                </div>
                <div class="col-12 col-md-6">
                    <p>
                        @@desc
                    </p>
                    <a class="txt-secondary" href="/article-detail.html">อ่านเพิ่มเติม >>></a>
                </div>
           </div>
           <div class="row pt-3 d-none">
            <div  class="col-12 d-flex flex-row">
                <p>

                    ป้ายกำกับ :   <a class="txt-secondary">@@tag1</a>  <a class="txt-secondary">@@tag2</a> <a class="txt-secondary">@@tag3</a>
                </p>
                <div class="d-flex flex-row pl-3">
                    <img height="28px" src="./images/article2/email-icon.png">
                    <img height="28px" src="./images/article2/facebook-icon.png">
                    <img height="28px" src="./images/article2/twitter-icon.png">
                    <img height="28px" src="./images/article2/ig-icon.png">
                    <img height="28px" src="./images/article2/line-icon.png">
                </div>
              
            </div>
               
           </div>
        </div>
      </div>
</div>