<div class="article-item-sx @@css">
    <div class="card border-0">
        <a href="" >
            <img class="card-img-top" src="@@img" style="cursor: pointer;">
        </a>
        <div class="card-body article-block">
          
            <span class="txt-secondary" style="cursor: pointer;">@@title</span><br>
            @@desc
        <div class="pt-3" style="cursor: pointer;">
            <a class="txt-secondary pt-3">อ่านเพิ่มเติม >>></a>
        </div>
          
        </div>
      </div>
</div>
