<div class="new-small-block ">
    <div class="card border-0">
        <img class="card-img-top" src="@@img" >
        <div class="card-body article-block p-0">
          <div class="pt-3 text-left">
            <a href="./news-detail.html">
            <h4 class="text-muted">
                @@desc
            </h4>
            </a>
          </div>
          <div class="d-flex justify-content-start text-muted">
            <img height="20px" src="./images/icon-image/calendar-icon.png"> <label class="pl-2 small">17 ก.พ. 2567</label>
        </div>
        </div>
      </div>
</div>
  


 
