<section id="blog-demo" >
  <div class="container">
    <div class="row text-center">
      <div class="col-12"> <h2 class="service-title">คลินิกเฉพาะทาง</h2></div>
    </div>
    <div class="row blog">
        <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row justify-content-center">
                            <div class="col clinic-service">
                              <div class="d-flex flex-column align-items-center mb-3 pt-3">
                                <img  width="120px"    src="images/icon-image/service-1.png">
                                <label class="font-weight-bold">คลีนิกเต้านม</label>
                                <p>
                                  บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                                  เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                                  ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
                                </p>
                                <div class="btn-action-2">
                                <div>อ่านรายละเอียด</div>
                                </div>
                              </div>
                            </div>
                            <div class="col clinic-service">
                              <div class="d-flex flex-column align-items-center mb-3 pt-3 ">
                                <img  width="120px"    src="images/icon-image/service-1.png">
                                <label class="font-weight-bold">คลีนิกเต้านม</label>
                                <p>
                                  บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                                  เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                                  ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
                                </p>
                                <div class="btn-action-2">
                                <div>อ่านรายละเอียด</div>
                                </div>
                              </div>
                            </div>
                            <div class="col clinic-service">
                              <div class="d-flex flex-column align-items-center mb-3 pt-3 ">
                                <img  width="120px"    src="images/icon-image/service-1.png">
                                <label class="font-weight-bold">คลีนิกเต้านม</label>
                                <p>
                                  บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                                  เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                                  ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
                                </p>
                                <div class="btn-action-2">
                                <div>อ่านรายละเอียด</div>
                                </div>
                              </div>
                            </div>
                            <div class="col clinic-service">
                              <div class="d-flex flex-column align-items-center mb-3 pt-3">
                                <img  width="120px"    src="images/icon-image/service-1.png">
                                <label class="font-weight-bold">คลีนิกเต้านม</label>
                                <p>
                                  บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                                  เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                                  ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
                                </p>
                                <div class="btn-action-2">
                                <div>อ่านรายละเอียด</div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="row justify-content-center">
                            <div class="col clinic-service">
                              <div class="d-flex flex-column align-items-center mb-3 pt-3">
                                <img  width="120px"    src="images/icon-image/service-1.png">
                                <label class="font-weight-bold">คลีนิกเต้านม</label>
                                <p>
                                  บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                                  เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                                  ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
                                </p>
                                <div class="btn-action-2">
                                <div>อ่านรายละเอียด</div>
                                </div>
                              </div>
                            </div>
                            <div class="col clinic-service">
                              <div class="d-flex flex-column align-items-center mb-3 pt-3">
                                <img  width="120px"    src="images/icon-image/service-1.png">
                                <label class="font-weight-bold">คลีนิกเต้านม</label>
                                <p>
                                  บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                                  เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                                  ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
                                </p>
                                <div class="btn-action-2">
                                <div>อ่านรายละเอียด</div>
                                </div>
                              </div>
                            </div>
                            <div class="col clinic-service">
                              <div class="d-flex flex-column align-items-center mb-3 pt-3">
                                <img  width="120px"    src="images/icon-image/service-1.png">
                                <label class="font-weight-bold">คลีนิกเต้านม</label>
                                <p>
                                  บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                                  เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                                  ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
                                </p>
                                <div class="btn-action-2">
                                <div>อ่านรายละเอียด</div>
                                </div>
                              </div>
                            </div>
                            <div class="col clinic-service">
                              <div class="d-flex flex-column align-items-center mb-3 pt-3">
                                <img  width="120px"    src="images/icon-image/service-1.png">
                                <label class="font-weight-bold">คลีนิกเต้านม</label>
                                <p>
                                  บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                                  เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                                  ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
                                </p>
                                <div class="btn-action-2">
                                <div>อ่านรายละเอียด</div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                </div>
                <!--.carousel-inner-->
            </div>
            <!--.Carousel-->

        </div>
    </div>
  </div>
</section>







