<!-- Slider main container -->
<section class="section-container">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="service-title">คลินิกเฉพาะทาง</h2>
      </div>
    </div>

    <div class="clinic-swiper swiper">
      <!-- Slides -->
      <div class="swiper-wrapper">

        <!-- Slides  Item-->
       <div class="swiper-slide">
         <div class="clinic-service">
           <div class="d-flex flex-column align-items-center mb-3">
             <img width="120px" class="img-logo" src="images/icon-image/icon-Breast-Clinic.png">
             <img width="120px" class="img-active" src="images/icon-image/icon-Breast-Clinic-Over.png">
             <label class="font-weight-bold">คลีนิกเต้านม</label>
             <p>
               บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
               เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
               ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
             </p>
             <div class="btn btn-white">
               <div>อ่านรายละเอียด</div>
             </div>
           </div>
         </div>
       </div>

         <!-- Slides  Item-->
         <div class="swiper-slide">
           <div class="clinic-service">
             <div class="d-flex flex-column align-items-center mb-3">
               <img width="120px" class="img-logo" src="images/icon-image/icon-Orthopedic-Clinic.png">
               <img width="120px" class="img-active" src="images/icon-image/icon-Orthopedic-Clinic-Over.png">
               <label class="font-weight-bold">คลินิกศัลยกรรมกระดูก</label>
               <p>
                 ดูแลทุกปัญหาเกี่ยวกับกระดูกและข้อ
                 รวมทั้งกล้ามเนื้อ โดยทีมสหสาขาวิชาชีพ
                 เพื่อดูแลคุณอย่างครบทุกด้าน
               </p>
               <div class="btn btn-white">
                 <div>อ่านรายละเอียด</div>
               </div>
             </div>
           </div>
         </div>

           <!-- Slides  Item-->
       <div class="swiper-slide">

         <div class="clinic-service">
           <div class="d-flex flex-column align-items-center mb-3">
             <img width="120px" class="img-logo" src="images/icon-image/icon-Surgery-Clinic.png">
               <img width="120px" class="img-active" src="images/icon-image/icon-Surgery-Clinic-Over.png">
             <label class="font-weight-bold">คลินิกศัลยกรรมและตกแต่ง</label>
             <p>
               ศัลยกรรมตกแต่งเป็นศัลยกรรมในการ
               ผ่าตัดดูแลรักษา รวมถึงการแก้ไขความ
               พิการตั้งแต่กำเนิด เช่น ใบหน้าที่ผิดปกติ
             </p>
             <div class="btn btn-white">
               <div>อ่านรายละเอียด</div>
             </div>
           </div>
         </div>
       </div>

         <!-- Slides  Item-->
         <div class="swiper-slide">
           <div class="clinic-service">
             <div class="d-flex flex-column align-items-center mb-3">
               <img width="120px" class="img-logo" src="images/icon-image/icon-Uterus-Ovarian-Clinic.png">
               <img width="120px" class="img-active" src="images/icon-image/icon-Uterus-Ovarian-Clinic-Over.png">
               <label class="font-weight-bold">คลินิกมดลูก - รังไข่</label>
               <p>
                 ดูแลและป้องกันปัญหาทางนรีเวช
                 ไปจนถึงการวินิจฉัยป้องกัน และรักษา
                 โรคของสตรีโดยเฉพาะ
               </p>
               <div class="btn btn-white">
                 <div>อ่านรายละเอียด</div>
               </div>
             </div>
           </div>
         </div>


                  <!-- Slides  Item-->
       <div class="swiper-slide">
         <div class="clinic-service">
           <div class="d-flex flex-column align-items-center mb-3">
             <img width="120px" class="img-logo" src="images/icon-image/icon-Breast-Clinic.png">
             <img width="120px" class="img-active" src="images/icon-image/icon-Breast-Clinic-Over.png">
             <label class="font-weight-bold">อวัยวะเพศชาย</label>
             <p>
               บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
               เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
               ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
             </p>
             <div class="btn btn-white">
               <div>อ่านรายละเอียด</div>
             </div>
           </div>
         </div>
       </div>

         <!-- Slides  Item-->
         <div class="swiper-slide">
           <div class="clinic-service">
             <div class="d-flex flex-column align-items-center mb-3">
               <img width="120px" class="img-logo" src="images/icon-image/icon-Orthopedic-Clinic.png">
               <img width="120px" class="img-active" src="images/icon-image/icon-Orthopedic-Clinic-Over.png">
               <label class="font-weight-bold">อวัยวะเพศหญิง</label>
               <p>
                 บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                 เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                 ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
               </p>
               <div class="btn btn-white">
                 <div>อ่านรายละเอียด</div>
               </div>
             </div>
           </div>
         </div>

           <!-- Slides  Item-->
       <div class="swiper-slide">

         <div class="clinic-service">
           <div class="d-flex flex-column align-items-center mb-3">
             <img width="120px" class="img-logo" src="images/icon-image/icon-Surgery-Clinic.png">
               <img width="120px" class="img-active" src="images/icon-image/icon-Surgery-Clinic-Over.png">
             <label class="font-weight-bold">ตั้งครรภ์ มีบุตรยาก</label>
             <p>
               บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
               เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
               ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
             </p>
             <div class="btn btn-white">
               <div>อ่านรายละเอียด</div>
             </div>
           </div>
         </div>
       </div>

         <!-- Slides  Item-->
         <div class="swiper-slide">
           <div class="clinic-service">
             <div class="d-flex flex-column align-items-center mb-3">
               <img width="120px" class="img-logo" src="images/icon-image/icon-Uterus-Ovarian-Clinic.png">
               <img width="120px" class="img-active" src="images/icon-image/icon-Uterus-Ovarian-Clinic-Over.png">
               <label class="font-weight-bold">ฝากครรภ์</label>
               <p>
                 บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                 เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                 ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
               </p>
               <div class="btn btn-white">
                 <div>อ่านรายละเอียด</div>
               </div>
             </div>
           </div>
         </div>

     </div>


    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

  </div>
  </div>

</section>
 