<div class="@@css">

    <div class="clinic-service">
        <div class="d-flex flex-column align-items-center mb-3">
          <img
            width="120px"
            class="img-logo"
            src=@@imgLogo
          />
          <img
            width="120px"
            class="img-active"
            src=@@imgActive
          />
          <label class="font-weight-bold">@@title</label>
          <p>
            @@description
          </p>
          <a href=@@link>
            <div class="btn btn-white">
              <div>อ่านรายละเอียด</div>
            </div>
          </a>
        </div>
      </div>
</div>

