@@loop('blocks/doctor-detail-item.htm',
[{ "link": "/doctor-search-detail.html","css":"swiper-slide","name":"ทพญ.พิมพ์ชนก ธีรธาดา","title":"ทันตกรรม","desc":"ชำนาญการรักษารากฟัน","img":"images/team/img-doctor-pimchanok.png"}
, {"link": "/doctor-search-detail.html","css":"swiper-slide","name":"พญ.ชยาภรณ์ วงศ์เยาว์ฟ้า","title":"กุมารเวชกรรม","desc":"ชำนาญการ กุมารเวชกรรมทั่วไป","img":"images/team/img-doctor-chayaporn.png"}
, {"link": "/doctor-search-detail.html","css":"swiper-slide","name":"นพ.ฉัตรชัย บุญเฉิด","title":"โสต ศอ นาสิก (หู คอ จมูก)","desc":"ชำนาญการโสต ศอ นาสิก (หู คอ จมูก)","img":"images/team/img-doctor-chatchai.png"}
])
@@loop('blocks/doctor-detail-item.htm',
[{ "link": "/doctor-search-detail.html","css":"swiper-slide","name":"ทพญ.พิมพ์ชนก ธีรธาดา","title":"ทันตกรรม","desc":"ชำนาญการรักษารากฟัน","img":"images/team/img-doctor-pimchanok.png"}
, {"link": "/doctor-search-detail.html","css":"swiper-slide","name":"พญ.ชยาภรณ์ วงศ์เยาว์ฟ้า","title":"กุมารเวชกรรม","desc":"ชำนาญการ กุมารเวชกรรมทั่วไป","img":"images/team/img-doctor-chayaporn.png"}
, {"link": "/doctor-search-detail.html","css":"swiper-slide","name":"นพ.ฉัตรชัย บุญเฉิด","title":"โสต ศอ นาสิก (หู คอ จมูก)","desc":"ชำนาญการโสต ศอ นาสิก (หู คอ จมูก)","img":"images/team/img-doctor-chatchai.png"}
])
 