<div class="@@css">
    <div class="d-none d-md-block">
        <div class="d-flex justify-content-center pt-5 ">
      
            <img  height="150px" src="@@img" style="cursor: pointer;">
            <div class="pl-4 d-flex align-items-center">
                <div class="doctor-search" style="cursor: pointer;">
                    <label class="txt-secondary p-0 m-0" style="cursor: pointer;">@@name</label><br>
                    <small>@@title</small><br>
                    <hr class="p-0 m-0">
                    <small>@@desc</small><br>
                    <a href="@@link">
                        <label class="text-icon-detail p-0 m-0"><i class="pr-1 fas fa-info-circle"></i>รายละเอียด</label>
                    </a>
                </div>
               
            </div>
          
        </div>
    </div>
    
    <div class="b-block d-md-none pb-5">
        <div class="d-flex flex-column align-items-center">
            <img  width="200px" src="@@img" style="cursor: pointer;">
            <div class="pl-4 d-flex align-items-center">
                <div class="doctor-search" style="cursor: pointer;">
                    <label class="txt-secondary p-0 m-0" style="cursor: pointer;">@@name</label><br>
                    <small>@@title</small><br>
                    <hr class="p-0 m-0">
                    <small>@@desc</small><br>
                    <a href="@@link">
                        <label class="text-icon-detail p-0 m-0"><i class="pr-1 fas fa-info-circle"></i>รายละเอียด</label>
                    </a>
                </div>
               
            </div>
        </div>
    </div>
    
</div>

