<!-- Slider main container -->
<section>
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="service-title">บทความเพื่อสุขภาพ</h2>
      </div>
    </div>

    <div class="swiper">
      <!-- Slides -->
      <div class="swiper-wrapper">

         <!-- Slides  Item-->
        <div class="swiper-slide">

          <div class="clinic-service">
            <div class="d-flex flex-column align-items-center mb-3 pt-3">
              <img width="250px" src="images/articles/eye.png">
              <label class="font-weight-bold">ต้อกระจก</label>
              <p>
                บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
              </p>
              <div class="btn-action-2">
                <div>อ่านรายละเอียด</div>
              </div>
            </div>
          </div>
        </div>

          <!-- Slides  Item-->
          <div class="swiper-slide">

            <div class="clinic-service">
              <div class="d-flex flex-column align-items-center mb-3 pt-3">
                <img width="250px" src="images/articles/back.png">
                <label class="font-weight-bold txt-secondary">กระดูกทับเส้นประสาท</label>
                <p>
                  บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                  เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                  ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
                </p>
                <div class="btn-action-2 btn-acive">
                  <div>อ่านรายละเอียด</div>
                </div>
              </div>
            </div>
          </div>

            <!-- Slides  Item-->
        <div class="swiper-slide">

          <div class="clinic-service">
            <div class="d-flex flex-column align-items-center mb-3 pt-3">
              <img width="250px" src="images/articles/intestine.png">
              <label class="font-weight-bold">สัญญาณอันตรายมะเร็งลำไส้</label>
              <p>
                บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
              </p>
              <div class="btn-action-2">
                <div>อ่านรายละเอียด</div>
              </div>
            </div>
          </div>
        </div>

          <!-- Slides  Item-->
          <div class="swiper-slide">

            <div class="clinic-service">
              <div class="d-flex flex-column align-items-center mb-3 pt-3">
                <img width="250px" src="images/articles/dengue fever.png">
                <label class="font-weight-bold">โรคไข้เลือดออก</label>
                <p>
                  บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                  เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                  ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
                </p>
                <div class="btn-action-2">
                  <div>อ่านรายละเอียด</div>
                </div>
              </div>
            </div>
          </div>


             <!-- Slides  Item-->
        <div class="swiper-slide">

          <div class="clinic-service">
            <div class="d-flex flex-column align-items-center mb-3 pt-3">
              <img width="250px" src="images/articles/eye.png">
              <label class="font-weight-bold">ต้อกระจก</label>
              <p>
                บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
              </p>
              <div class="btn-action-2">
                <div>อ่านรายละเอียด</div>
              </div>
            </div>
          </div>
        </div>

          <!-- Slides  Item-->
          <div class="swiper-slide">

            <div class="clinic-service">
              <div class="d-flex flex-column align-items-center mb-3 pt-3">
                <img width="250px" src="images/articles/back.png">
                <label class="font-weight-bold txt-secondary">กระดูกทับเส้นประสาท</label>
                <p>
                  บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                  เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                  ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
                </p>
                <div class="btn-action-2 btn-acive">
                  <div>อ่านรายละเอียด</div>
                </div>
              </div>
            </div>
          </div>

            <!-- Slides  Item-->
        <div class="swiper-slide">

          <div class="clinic-service">
            <div class="d-flex flex-column align-items-center mb-3 pt-3">
              <img width="250px" src="images/articles/intestine.png">
              <label class="font-weight-bold">สัญญาณอันตรายมะเร็งลำไส้</label>
              <p>
                บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
              </p>
              <div class="btn-action-2">
                <div>อ่านรายละเอียด</div>
              </div>
            </div>
          </div>
        </div>

          <!-- Slides  Item-->
          <div class="swiper-slide">

            <div class="clinic-service">
              <div class="d-flex flex-column align-items-center mb-3 pt-3">
                <img width="250px" src="images/articles/dengue fever.png">
                <label class="font-weight-bold">โรคไข้เลือดออก</label>
                <p>
                  บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                  เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                  ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
                </p>
                <div class="btn-action-2">
                  <div>อ่านรายละเอียด</div>
                </div>
              </div>
            </div>
          </div>

             <!-- Slides  Item-->
        <div class="swiper-slide">

          <div class="clinic-service">
            <div class="d-flex flex-column align-items-center mb-3 pt-3">
              <img width="250px" src="images/articles/eye.png">
              <label class="font-weight-bold">ต้อกระจก</label>
              <p>
                บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
              </p>
              <div class="btn-action-2">
                <div>อ่านรายละเอียด</div>
              </div>
            </div>
          </div>
        </div>

          <!-- Slides  Item-->
          <div class="swiper-slide">

            <div class="clinic-service">
              <div class="d-flex flex-column align-items-center mb-3 pt-3">
                <img width="250px" src="images/articles/back.png">
                <label class="font-weight-bold txt-secondary">กระดูกทับเส้นประสาท</label>
                <p>
                  บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                  เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                  ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
                </p>
                <div class="btn-action-2 btn-acive">
                  <div>อ่านรายละเอียด</div>
                </div>
              </div>
            </div>
          </div>

            <!-- Slides  Item-->
        <div class="swiper-slide">

          <div class="clinic-service">
            <div class="d-flex flex-column align-items-center mb-3 pt-3">
              <img width="250px" src="images/articles/intestine.png">
              <label class="font-weight-bold">สัญญาณอันตรายมะเร็งลำไส้</label>
              <p>
                บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
              </p>
              <div class="btn-action-2">
                <div>อ่านรายละเอียด</div>
              </div>
            </div>
          </div>
        </div>

          <!-- Slides  Item-->
          <div class="swiper-slide">

            <div class="clinic-service">
              <div class="d-flex flex-column align-items-center mb-3 pt-3">
                <img width="250px" src="images/articles/dengue fever.png">
                <label class="font-weight-bold">โรคไข้เลือดออก</label>
                <p>
                  บริการตรวยผู้ป่วยนอก โรคที่เกี่ยวกับ
                  เต้านมโดยเฉพาะ วินิจฉัยคัดกรองมะเร็ง
                  ตรวจชิ้นเนื้อ ติดตามหลังผ่าตัด
                </p>
                <div class="btn-action-2">
                  <div>อ่านรายละเอียด</div>
                </div>
              </div>
            </div>
          </div>

      </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

  </div>
  </div>

</section>
