<!-- Slider main container -->
<section>
  <div class="container">
    <div class="row text-center pb-2">
      <div class="col-12">
        <h2 class="service-title">โปรแกรมตรวจรักษา</h2>
      </div>
    </div>

    <div class="swiper-package swiper">
      <!-- Slides -->
      <div class="swiper-wrapper">

        <!-- Slides  Item-->
        <div class="swiper-slide mb-3">
          <div class="d-flex flex-column">
            <div class="clinic-service-2">
              <div class="d-flex flex-row">
                <img height="90px" src="images/articles/Birth-program.png">
                <div class="d-flex flex-column  align-items-start pl-3" style="min-width: 300px;">

                  <label class="font-weight-bold">โปรแกรมคลอด</label>
                  <p class="text-left">
                    มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                    ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                    ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                  </p>
                  <div class="btn btn-white">
                    <div>อ่านรายละเอียด</div>
                  </div>
                </div>
              </div>

            </div>
            <div class="clinic-service-2 pt-5">
              <div class="d-flex flex-row">
                <img height="90px" src="images/articles/Dengue-vaccine-package.png">
                <div class="d-flex flex-column  align-items-start pl-3" style="min-width: 300px;">

                  <label class="font-weight-bold">แพ็กเกจวัคซีนไข้เลือดออก</label>
                  <p class="text-left">
                    เหมาะสำหรับผู้ที่มี 4 – 60 ปี · ควรได้รับการฉีดจำนวน 2 เข็ม โดยเว้น
                    ระยะจากเข็มแรก 3 เดือน · ราคาแพ็กเกจนี้ รวมค่าแพทย์ ค่าบริการ
                    เรียบร้อยแล้ว · สอบถามเพิ่มเติม หรือนัดหมายล่วงหน้า
                  </p>
                  <div class="btn btn-white">
                    <div>อ่านรายละเอียด</div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <!-- Slides  Item-->
        <div class="swiper-slide mb-3">
          <div class="d-flex flex-column">
            <div class="clinic-service-2">
              <div class="d-flex flex-row">
                <img height="90px" src="images/articles/TSH-Website-Design-Health-Check-Program.png">
                <div class="d-flex flex-column  align-items-start pl-3" style="min-width: 300px;">

                  <label class="font-weight-bold">โปรแกรมตรวจสุขภาพ</label>
                  <p class="text-left">
                    โปรแกรมตรวจสุขภาพครบวงจร ครอบคลุมทุกช่วงวัย มีหลากหลาย
                    โปรแกรมให้เลือก ใส่ใจสุขภาพ ด้วยการตรวจสุขภาพประจำปี ทั้งผู้ชาย
                    และผู้หญิง แยกรายละเอียดและโปรแกรมการตรวจอย่างครบถ้วน
                  </p>
                  <div class="btn btn-white">
                    <div>อ่านรายละเอียด</div>
                  </div>
                </div>
              </div>

            </div>
            <div class="clinic-service-2 pt-5">
              <div class="d-flex flex-row">
                <img height="90px" src="images/articles/TSH-Website-Design-Rhinoplasty.png">
                <div class="d-flex flex-column  align-items-start pl-3" style="min-width: 300px;">

                  <label class="font-weight-bold">แพ็กเกจผ่าตัดเสริมจมูกแบบเปิด</label>
                  <p class="text-left">
                    แพ็กเกจผ่าตัดเสริมจมูกแบบเปิด Open Rhinoplasty ปรับโครงสร้าง
                    จมูกใหม่ ปลอดภัย ได้มาตรฐาน โรงพยาบาลมาตรฐาน JCI ให้คำ
                    แนะนำโดยผู้เชี่ยวชาญ ควบคุมโดยศัลยแพทย์ตกแต่ง
                  </p>
                  <div class="btn btn-white">
                    <div>อ่านรายละเอียด</div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <!-- Slides  Item-->
        <div class="swiper-slide mb-3">
          <div class="d-flex flex-column">
            <div class="clinic-service-2">
              <div class="d-flex flex-row">
                <img height="90px" src="images/articles/eye.png">
                <div class="d-flex flex-column  align-items-start pl-3" style="min-width: 300px;">

                  <label class="font-weight-bold">โปรแกรมคลอด</label>
                  <p class="text-left">
                    มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                    ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                    ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                  </p>
                  <div class="btn btn-white">
                    <div>อ่านรายละเอียด</div>
                  </div>
                </div>
              </div>

            </div>
            <div class="clinic-service-2 pt-5">
              <div class="d-flex flex-row">
                <img height="90px" src="images/articles/eye.png">
                <div class="d-flex flex-column  align-items-start pl-3" style="min-width: 300px;">

                  <label class="font-weight-bold">โปรแกรมคลอด</label>
                  <p class="text-left">
                    มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                    ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                    ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                  </p>
                  <div class="btn btn-white">
                    <div>อ่านรายละเอียด</div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <!-- Slides  Item-->
        <div class="swiper-slide mb-3">
          <div class="d-flex flex-column">
            <div class="clinic-service-2">
              <div class="d-flex flex-row">
                <img height="90px" src="images/articles/eye.png">
                <div class="d-flex flex-column  align-items-start pl-3" style="min-width: 300px;">

                  <label class="font-weight-bold">โปรแกรมคลอด</label>
                  <p class="text-left">
                    มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                    ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                    ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                  </p>
                  <div class="btn btn-white">
                    <div>อ่านรายละเอียด</div>
                  </div>
                </div>
              </div>

            </div>
            <div class="clinic-service-2 pt-5">
              <div class="d-flex flex-row">
                <img height="90px" src="images/articles/eye.png">
                <div class="d-flex flex-column  align-items-start pl-3" style="min-width: 300px;">

                  <label class="font-weight-bold">โปรแกรมคลอด</label>
                  <p class="text-left">
                    มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                    ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                    ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                  </p>
                  <div class="btn btn-white">
                    <div>อ่านรายละเอียด</div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>


      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

    </div>

    <div class="swiper-package-mobile swiper">
      <!-- Slides -->
      <div class="swiper-wrapper">

        <!-- Slides  Item-->
        <div class="swiper-slide">
          <div class="d-flex flex-column">
            <div class="clinic-service-2">
              <div class="d-flex flex-wrap">
                <img height="100%" src="images/articles/eye.png">
                <div class="d-flex flex-column  align-items-start pl-3">

                  <label class="font-weight-bold">โปรแกรมคลอด</label>
                  <p class="text-left">
                    มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                    ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                    ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                  </p>
                  <div class="btn btn-white">
                    <div>อ่านรายละเอียด</div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

        <!-- Slides  Item-->
        <div class="swiper-slide">
          <div class="d-flex flex-column">
            <div class="clinic-service-2">
              <div class="d-flex flex-wrap">
                <img height="100%" src="images/articles/eye.png">
                <div class="d-flex flex-column  align-items-start pl-3">

                  <label class="font-weight-bold">โปรแกรมคลอด</label>
                  <p class="text-left">
                    มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                    ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                    ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                  </p>
                  <div class="btn btn-white">
                    <div>อ่านรายละเอียด</div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

        <!-- Slides  Item-->
        <div class="swiper-slide">
          <div class="d-flex flex-column">
            <div class="clinic-service-2">
              <div class="d-flex flex-wrap">
                <img height="100%" src="images/articles/eye.png">
                <div class="d-flex flex-column  align-items-start pl-3">

                  <label class="font-weight-bold">โปรแกรมคลอด</label>
                  <p class="text-left">
                    มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                    ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                    ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                  </p>
                  <div class="btn btn-white">
                    <div>อ่านรายละเอียด</div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

        <!-- Slides  Item-->
        <div class="swiper-slide">
          <div class="d-flex flex-column">
            <div class="clinic-service-2">
              <div class="d-flex flex-wrap">
                <img height="100%" src="images/articles/eye.png">
                <div class="d-flex flex-column  align-items-start pl-3">

                  <label class="font-weight-bold">โปรแกรมคลอด</label>
                  <p class="text-left">
                    มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                    ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                    ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                  </p>
                  <div class="btn btn-white">
                    <div>อ่านรายละเอียด</div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

    </div>
  </div>

</section>