<!-- Slider main container -->
<section>
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="service-title">โปรแกรมตรวจรักษา</h2>
      </div>
    </div>

    <div class="swiper-package swiper">
      <!-- Slides -->
      <div class="swiper-wrapper">

         <!-- Slides  Item-->
        <div class="swiper-slide">
          <div class="d-flex flex-column" >
            <div class="clinic-service-2">
              <div class="d-flex flex-row">
                <img height="90px" src="images/articles/eye.png">
                <div class="d-flex flex-column  align-items-start pl-3" style="min-width: 300px;">

                  <label class="font-weight-bold">โปรแกรมคลอด</label>
                  <p class="text-left">
                    มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                    ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                    ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                  </p>
                  <div class="btn-action-2">
                    <div>อ่านรายละเอียด</div>
                  </div>
                </div>
              </div>

            </div>
            <div class="clinic-service-2 pt-5">
              <div class="d-flex flex-row">
                <img height="90px" src="images/articles/eye.png">
                <div class="d-flex flex-column  align-items-start pl-3" style="min-width: 300px;">

                  <label class="font-weight-bold">โปรแกรมคลอด</label>
                  <p class="text-left">
                    มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                    ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                    ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                  </p>
                  <div class="btn-action-2">
                    <div>อ่านรายละเอียด</div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

              <!-- Slides  Item-->
              <div class="swiper-slide">
                <div class="d-flex flex-column" >
                  <div class="clinic-service-2">
                    <div class="d-flex flex-row">
                      <img height="90px" src="images/articles/eye.png">
                      <div class="d-flex flex-column  align-items-start pl-3" style="min-width: 300px;">

                        <label class="font-weight-bold">โปรแกรมคลอด</label>
                        <p class="text-left">
                          มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                          ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                          ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                        </p>
                        <div class="btn-action-2">
                          <div>อ่านรายละเอียด</div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="clinic-service-2 pt-5">
                    <div class="d-flex flex-row">
                      <img height="90px" src="images/articles/eye.png">
                      <div class="d-flex flex-column  align-items-start pl-3" style="min-width: 300px;">

                        <label class="font-weight-bold">โปรแกรมคลอด</label>
                        <p class="text-left">
                          มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                          ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                          ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                        </p>
                        <div class="btn-action-2">
                          <div>อ่านรายละเอียด</div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

                    <!-- Slides  Item-->
        <div class="swiper-slide">
          <div class="d-flex flex-column" >
            <div class="clinic-service-2">
              <div class="d-flex flex-row">
                <img height="90px" src="images/articles/eye.png">
                <div class="d-flex flex-column  align-items-start pl-3" style="min-width: 300px;">

                  <label class="font-weight-bold">โปรแกรมคลอด</label>
                  <p class="text-left">
                    มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                    ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                    ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                  </p>
                  <div class="btn-action-2">
                    <div>อ่านรายละเอียด</div>
                  </div>
                </div>
              </div>

            </div>
            <div class="clinic-service-2 pt-5">
              <div class="d-flex flex-row">
                <img height="90px" src="images/articles/eye.png">
                <div class="d-flex flex-column  align-items-start pl-3" style="min-width: 300px;">

                  <label class="font-weight-bold">โปรแกรมคลอด</label>
                  <p class="text-left">
                    มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                    ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                    ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                  </p>
                  <div class="btn-action-2">
                    <div>อ่านรายละเอียด</div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

              <!-- Slides  Item-->
              <div class="swiper-slide">
                <div class="d-flex flex-column" >
                  <div class="clinic-service-2">
                    <div class="d-flex flex-row">
                      <img height="90px" src="images/articles/eye.png">
                      <div class="d-flex flex-column  align-items-start pl-3" style="min-width: 300px;">

                        <label class="font-weight-bold">โปรแกรมคลอด</label>
                        <p class="text-left">
                          มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                          ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                          ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                        </p>
                        <div class="btn-action-2">
                          <div>อ่านรายละเอียด</div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="clinic-service-2 pt-5">
                    <div class="d-flex flex-row">
                      <img height="90px" src="images/articles/eye.png">
                      <div class="d-flex flex-column  align-items-start pl-3" style="min-width: 300px;">

                        <label class="font-weight-bold">โปรแกรมคลอด</label>
                        <p class="text-left">
                          มารดาและทรจะได้รับการดูแลตลอดเวลาที่พักอยู่ในโรงพยาบาลที่
                          ห้องเดี่ยวมาตรฐาน พร้อมอาหารปกติ รวมค่าบริการโรงพยาบาล ตาม
                          ระยะเวลาที่กำหนดในโปรแกรม (นับวันคลอดเป็นวันแรก)
                        </p>
                        <div class="btn-action-2">
                          <div>อ่านรายละเอียด</div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
      </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

  </div>
  </div>

</section>
