<!-- Header start -->
<header id="header" class="header-one">
  <div class="bg-white">
    <div class="container-fluid">
      <div class="logo-area navbar-container">
          <div class="row align-items-center">
            <div class="logo col-lg-3 text-center text-lg-left mb-3 mb-md-5 mb-lg-0">
                <a class="d-block" href="index.html">
                  <img loading="lazy" src="images/banner/thaksin.png" alt="thaksin">
                </a>
            </div><!-- logo end -->

            <div class="col-lg-9 header-right">
                <ul class="top-info-box">
                  <li  class="last">
                    <div class="info-box">
                      <div class="info-box-content">
                        <div class="d-flex justify-content-start">
                          <img loading="lazy" src="images/icon-image/phone-ringing.png" alt="phone" height="32px">
                          <div class="ml-1">
                            <p class="info-box-subtitle">077 278 777 </p>
                            <p class="info-box-title"> Contact Us For Help</p>

                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="last">
                    <div class="info-box">
                      <div class="info-box-content">
                        <div class="d-flex justify-content-start">
                          <img loading="lazy" src="images/icon-image/mail.png" alt="mail" height="25px">
                          <div class="ml-1">
                            <p class="info-box-subtitle">077 278 777 </p>
                            <p class="info-box-title"> Contact Us For Help</p>
                          </div>
                        </div>

                      </div>

                    </div>
                  </li>


                </ul><!-- Ul end -->
            </div><!-- header right end -->
          </div><!-- logo area end -->

      </div><!-- Row end -->
    </div><!-- Container end -->
  </div>

  <div class="site-navigation bg-white border-top">
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 navbar-container">
              <nav class="navbar navbar-expand-lg navbar-light bg-white">


                <div id="navbar-collapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav mr-auto">
                      <li class="nav-item dropdown">
                          <a href="/index.html" class="nav-link dropdown-toggle">หน้าหลัก <i class="fa fa-angle-down"></i></a>
                          <!-- <ul class="dropdown-menu" role="menu">
                            <li class="active"><a href="index.html">หน้าหลัก</a></li>
                            <li><a href="index.html">หน้าหลัก 2</a></li>
                          </ul> -->
                      </li>

                      <li class="nav-item dropdown">
                          <a href="/specialized-clinic-2.html" class="nav-link dropdown-toggle">คลินิกเฉพาะทาง <i class="fa fa-angle-down"></i></a>
                      </li>

                      <li class="nav-item dropdown">
                          <a href="/service.html" class="nav-link dropdown-toggle">บริการทางการแพทย์ <i class="fa fa-angle-down"></i></a>
                          <!-- <ul class="dropdown-menu" role="menu">
                            <li><a href="index.html">บริการทางการแพทย์ 1</a></li>
                            <li><a href="index.html">บริการทางการแพทย์ 2</a></li>
                          </ul> -->
                      </li>

                      <li class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">โปรแกรมตรวจรักษา <i class="fa fa-angle-down"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="index.html">โปรแกรมตรวจรักษา 1</a></li>
                            <li><a href="index.html">โปรแกรมตรวจรักษา 2</a></li>
                          </ul>
                      </li>

                      <li class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">ค้นหาแพทย์ <i class="fa fa-angle-down"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="index.html">เฉพาะทาง</a></li>
                            <li class="dropdown-submenu">
                                <a href="#!" class="dropdown-toggle" data-toggle="dropdown">เฉพาะทาง</a>
                                <ul class="dropdown-menu">
                                  <li><a href="#!">ค้นหาแพทย์ 1</a></li>
                                  <li><a href="#!">ค้นหาแพทย์ 2</a></li>
                                  <li><a href="#!">ค้นหาแพทย์ 3</a></li>
                                </ul>
                            </li>
                          </ul>
                      </li>

                      <li class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">บทความสุขภาพ <i class="fa fa-angle-down"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="index.html">บทความสุขภาพ 1</a></li>
                            <li><a href="index.html">บทความสุขภาพ 2</a></li>
                            <li><a href="index.html">บทความสุขภาพ 3</a></li>
                          </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">เกี่ยวกับเรา <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="index.html">เกี่ยวกับเรา 1</a></li>
                          <li><a href="index.html">เกี่ยวกับเรา 2</a></li>
                          <li><a href="index.html">เกี่ยวกับเรา 3</a></li>
                        </ul>
                    </li>
                      <li class="nav-item"><a class="nav-link" href="contact.html">ข่าวสาร</a></li>
                      <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">ติดต่อเรา <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="index.html">ติดต่อเรา 1</a></li>
                          <li><a href="index.html">ติดต่อเรา 2</a></li>
                          <li><a href="index.html">ติดต่อเรา 3</a></li>
                        </ul>
                    </li>
                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              </nav>
          </div>
          <!--/ Col end -->
        </div>
        <!--/ Row end -->

    </div>
    <!--/ Container end -->

  </div>
  <!--/ Navigation end -->
</header>
<!--/ Header end -->
 